.button-container {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: white;
  background-color: rgb(55, 55, 101);
  border-radius: 9px;
  border: none;
  cursor: pointer;
}
